# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# PyCharm settings
.idea/

# Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
